---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section class="flex flex-col gap-4">
    <h1 class="text-4xl font-heading text-neutral-900 dark:text-white">Contact</h1>
    <p class="text-sm font-mono text-neutral-500 dark:text-neutral-400">Coming soon.</p>
  </section>
</Layout>
